<!DOCTYPE html>
<html>
<head>
<title> Coffee Application</title>

<style type="text/css">
    h1 {
        text-align: center; 
        border: red; 
        background-color: brown;
        color: white;
    }
    body { 
        margin: 10px;
        background-image: url("./Coffee/Coffee.jpg"); 
        color: red
    }
    table, tr, td, th {
        border:2px black solid; 
        border-collapse: collapse;
    }
    #ttd {
        width: 80px;
    }
</style>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script type="text/javascript">
  var app =  angular.module("myApp", []);
  app.controller("cntl",function($scope){
    $scope.totalPrice = function(){
        $scope.total = $scope.q1*3.5 + $scope.q2 * 2.5 + $scope.q3*3 + $scope.q4*4;
    }
  });
</script>

<script type="text/javascript">
    function changeItem(inputType) {        
        console.log(inputType.value, inputType.id)
        if(!(inputType.value < 50 && inputType.value > 0)) {
            alert("Make sure order quantity in between 1 and 49");
            inputType.value = '';
            return;
        }
        switch(inputType.id){
            case 'lq':
            var price = inputType.value * 3.50;
            document.getElementById('nlap').innerText= '$ ' + price;
            break;
            case 'cq':
            var price = inputType.value * 2.50;
            document.getElementById('ncap').innerText= '$ ' + price;
            break;
            case 'mq':
            var price = inputType.value * 3.00;
            document.getElementById('nmoc').innerText= '$ ' + price;
            break;
            case 'aq':
            var price = inputType.value * 4.00;
            document.getElementById('namp').innerText= '$ ' + price;
            break;
            default:

        }
        
    }
        function selectedItems(){
            document.getElementById("ttp").value =+1
        }
</script>

</head>
<body >
    <h1> Coffee Application using HTML, CSS, AngularJS </h1>

<div style='text-align:center' ng-app="myApp" ng-controller="cntl">

    <table style="margin: auto;  height: 200px; ">
        <caption style="font-weight:bold; font-size: 25px; color: white"> Coffee Table</caption>
        <tr>
            <th style="column-width: 200px">Coffee Type</th>
            <th id='ttd'>Quantity</th>
            <th>Price($)</th>
        </tr>
        <tr>
            <td>  Latee($3.50) </td>
            <td><input type="number" max="50" min="0" maxlength="2" id="lq" style="font-size: 18px "onchange="changeItem(this)" ng-model="q1"></td>
            <td><span style='color: white; font-size: 20px' id = "nlap"></span></td>
        </tr>
        <tr>
            <td> Cappuccino ($2.50)</td>
            <td><input type="number" id="cq" min="0" max="50" style="font-size: 18px" ng-model="q2" onchange="changeItem(this)"> </td>
            <td> <span style='color: white; font-size: 20px' id="ncap"></span></td>
        </tr>
        <tr>
            <td> Mocha($3.00) </td>
            <td><input type="number" id="mq" min="0" max="50" maxlength="2" style="font-size: 18px"  ng-model="q3" onchange="changeItem(this)"></td>
            <td><span style='color: white; font-size: 20px' id="nmoc"></span></td>
        </tr>
        <tr>
            <td> Americano($4.00) </td>
            <td><input type="number" min="0" max="50" id="aq" maxlength="2" style="font-size: 18px; text-align: center;"  ng-model="q4" onchange="changeItem(this)"></td>

            <td> <span style='color: white; font-size: 20px' id="namp"></span></td>
        </tr>
    </table>
    <br/>
    <button name="bprice"  style="height:25px" ng-click="totalPrice()"> CheckOut</button>
    <h3> Total Price:<span style="color:white; font-size: 30px;">{{total | currency}} </span><!--input type= "text" id="ttp" value="TotalPrice" style="width:70px; color:red"--> </h3>

</div>

</body>
</html>